* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0% 20%;
    background-color: bisque;
}

h4 {
    font-size: 1rem;
    color: rgb(48, 47, 47);
}

h3 {
    font-size: 1.5rem;
    color: rgb(48, 47, 47);
    line-height: 2.5rem;
    margin: 2rem 0;
}

a {
    color: rgb(48, 47, 47);
}